--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
numpy==1.26.4
soundfile==0.12.1
matplotlib==3.8.4
hydra-core==1.3.2
omegaconf==2.3.0
python-dotenv==1.0.1
tqdm==4.67.0
wandb==0.18.7